*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 250px;
    background-color: #02bbca;

}
header img{
    width: 100%;
    height: 250px;

}
/************Menu******************/
.menu{
    background-color: #02bbca;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);   
    transition: ease-in-out 0.5s;
}
.menu h2{
    padding: 10px 50px;
}
.items{
    display: flex;
    list-style: none;
    margin-right: 30px;
    
}
.items .link{
    margin: 0 5px;
    border-radius: 4px;
}
.items .link a{
    display: block;
    color: black;
    font-size: 15px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.contenido{
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    width: 90%;
    height: 90%;
    
}
.titulo{
    font-size: 100px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.articulo{
    width: 100%;
    height: 350px;
    background-color: #02bbca;
    margin-bottom:30px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
}
.img {
    width: 500px;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    width: 250px;
    height: 300px;
    box-sizing: border-box;
	margin: 20px 10px;
    border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
}
.img img:hover{
    transform-style: preserve-3d;
    transform: scale(1.10);
    transition: all ease 0.3s;
}


.texto{
    width: 900px;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-texto{
    width: 90%;
    height: 100%;
  
}
.contenedor-texto h2{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.contenedor-texto p{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 20px;
}